.fh {
    display: flex;

}

.main__item1 {
    flex: 1;
}

.main__item2 {
    flex: 17
}

.main__item3 {
    flex: 1;
}

footer {
    display;
    flex;
    flex-direction: column;
    align-items: center
}
