body {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(background.jpg);
    color: #177c46;
    background-color: pink;
    font-family: fantasy;
    font-size: 15px
}

li {
    color: black;
}

.flexboxmasterswitch {
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
}

.multi-colum-container {
    display: flex;
    justify-content: space-around;
}

box-sizing: border-box;
margin: 0 0 0 0;


    color: #0000;

h2 {
    color: antiquewhite;
}

.tshirts {

    color: black;

}

.tshirts-font-big {
    font-size: 15px;
}

.tshirts-font-heavy {
    font-weight: 900;
    color: black;
}

body ul,
body ol {
    background-color: lightpink
}

#content p a {
    color: #000;
}

.centered {


    margin-left: 50px;
    margin-right: 50px;


    margin-left: auto;
    margin-right: auto;
    width: 80%;


    padding: 10px 10px 10px 10px;
    border: 5px solid;
    margin: 100px auto 10px auto;
    width: 80%;


    margin-left: 20px;
    margin-right: 20px;

    font-family: cursive
}


body ol,
body ul {
    background-color: lavender;
    color: blueviolet;
}

@media screen and (max-width: 30rem) h1 {
    color: deeppink;
}
